<!--
  Generated template for the CoursePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Courses</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card>
  <ion-card-header>
    Software Engineering
  </ion-card-header>
  <ion-card-content *ngIf="faculty==false">
    <h2><b>Faculty: </b>Subrahmanyam Chirravuri</h2>
      Assignments remaining: 12<br>
        Attendance : 60%
    </ion-card-content>
    <ion-card-content *ngIf="faculty==true">
      <h2><b>Current topic: </b>SLDC</h2>
        Students : 12<br>
      </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    IT Systems
  </ion-card-header>
  <ion-card-content *ngIf="faculty==false">
    <h2><b>Faculty: </b>Nagesh</h2>
        Assignments remaining: 2<br>
        Attendance : 80%
  </ion-card-content>
  <ion-card-content *ngIf="faculty==true">
    <h2><b>Current topic: </b>DBMS</h2>
      Students : 12<br>
    </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Information retrieval
  </ion-card-header>
  <ion-card-content *ngIf="faculty==false">
    <h2><b>Faculty: </b>Amitava</h2>
        Assignments remaining: 3<br>
        Attendance : 90%
  </ion-card-content>
  <ion-card-content *ngIf="faculty==true">
    <h2><b>Current topic: </b>Bag of words</h2>
      Students : 12<br>
    </ion-card-content>
</ion-card>
</ion-content>
